* {
  box-sizing: border-box;
  font-family: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  align-items: center;
  background-color: #fff;
  color: #fff;
  display: flex;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

.container {
  align-items: center;
  background-color: #000;
  border-radius: 45px;
  box-shadow: 6px 7px 10px #4e4d4d;
  display: flex;
  flex-direction: column;
  height: 560px;
  justify-content: center;
  margin: auto;
  width: 270px;
}

.display {
  align-items: flex-end;
  background-color: #000;
  bottom: 2%;
  color: #fff;
  display: flex;
  flex-direction: row;
  font-weight: 100;
  height: 200px;
  justify-content: flex-end;
  left: 3%;
  position: relative;
  width: 200px;
}

.curr-display {
  font-size: 40px;
}

.prev-display {
  display: none;
}

.button-container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: center;
  margin: 0;
}

button {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 300;
  font-size: 24px;
  height: 50px;
  margin: 5px;
  text-align: center;
  width: 50px;
}

.sign-delet {
  background-color: #808080;
  font-size: 20px;
  font-weight: 400;
}

.operators,
.equal {
  background-color: #ffa500;
  color: #fff;
  font-weight: 400;
}

#percentage {
  background-color: #808080;
  color: #000;
  font-weight: 400;
}

.numbers {
  background-color: #353333;
  color: #fff;
}

#number0 {
  align-items: center;
  background-color: #353333;
  border-radius: 100px;
  color: #fff;
  display: flex;
  justify-content: left;
  padding-left: 15px;
  width: 110px;
}
